/** @format */

.buypage {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: #01204c;
  overflow: auto;
  top: 100px;
  border-top: 1px solid #ffffff;
}

.nftarea {
  position: absolute;
  width: 539px;
  height: 720px;
  left: 64px;
  top: 80px;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
}

.nftname {
  position: relative;
  width: max-content;
  height: 29px;
  left: 0px;
  top: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  /* identical to box height */

  color: #ffffff;
}

.nftDescription {
  position: relative;
  width: 700px;
  height: 200px;
  left: 0px;
  top: 20px;

  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 29px;

  color: #ffffff;
  overflow: auto;
}

.Royalties {
  position: relative;
  width: max-content;
  height: 29px;
  left: 0px;
  top: 70px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  /* identical to box height */

  color: #ffffff;
}

.nftprice {
  position: relative;
  width: max-content;
  height: 29px;
  left: 0px;
  top: 120px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  /* identical to box height */

  color: #ffffff;
}

.buyBtn {
  position: absolute;
  width: 280px;
  height: 53px;
  left: 694px;
  top: 700px;
  background: #062efd;
  border-radius: 20px;
  border: 0ch;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.descr {
  position: relative;
  width: 1110px;
  height: 500px;  
  left: 690px;
  top: 80px;
}
